<div (click)="onCancel()" class="modal-overlay">
  <div (click)="$event.stopPropagation()" class="order-box">
    <h1>{{ editingTable ? 'Редагувати стіл' : 'Додати новий стіл' }}</h1>
    <p>Заповніть інформацію про стіл</p>

    <form (ngSubmit)="onSubmit()" [formGroup]="tableForm">
      <!-- СТАН -->
      <div class="input-group">
        <label>Стан столу</label>
        <select formControlName="conditionId" required>
          <option *ngFor="let cond of conditions" [value]="cond.id">
            {{ cond.nameOfCondition }}
          </option>
        </select>
        <div *ngIf="tableForm.get('conditionId')?.invalid && tableForm.get('conditionId')?.touched">
          <small class="error">Стан обов’язковий</small>
        </div>
      </div>

      <!-- ТИП -->
      <div class="input-group">
        <label>Тип столу</label>
        <select formControlName="typeId" required>
          <option *ngFor="let type of types" [value]="type.id">
            {{ type.nameOfTableType }}
          </option>
        </select>
        <div *ngIf="tableForm.get('typeId')?.invalid && tableForm.get('typeId')?.touched">
          <small class="error">Тип обов’язковий</small>
        </div>
      </div>

      <div class="input-group">
        <input formControlName="roomNumber" placeholder="Номер кімнати" required type="text" />
        <div *ngIf="tableForm.get('roomNumber')?.invalid && tableForm.get('roomNumber')?.touched">
          <small class="error">Номер кімнати обов’язковий</small>
        </div>
      </div>

      <div class="actions">
        <button (click)="onCancel()" class="cancel-btn" type="button">Скасувати</button>
        <button [disabled]="tableForm.invalid" class="submit-btn" type="submit">
          {{ editingTable ? 'Зберегти' : 'Додати' }}
        </button>
      </div>
    </form>
  </div>
</div>
