# .NET build results
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer files
Thumbs.db
ehthumbs.db

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Rider
.idea/

# VS Code
.vscode/

# ASP.NET Core
wwwroot/

# NPM packages
node_modules/

# Yarn lock file
yarn.lock
# Ignore Visual Studio temporary files
.vs/
