<div class="table-container">
  <div class="search-container">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      placeholder="Введіть студентський номер, ідентифікатор або номер кімнати"
      class="search-input"
      (keyup.enter)="searchRegistrations()"
    />
    <button (click)="searchRegistrations()" class="search-btn">Пошук</button>
    <button *ngIf="searchQuery" (click)="resetSearch()" class="reset-btn">Скинути</button>
  </div>
  <table class="responsive-table">
    <thead>
    <tr>
      <th>Cтудент</th>
      <th>Кімнати</th>
      <th>Дата заселення</th>
      <th>Орієнтовна дата виселення</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of data" [class.expanded]="item.expanded">
      <td class="name-cell" data-label="Cтудент:">{{ item.studentNumber}}</td>
      <td class="detail-cell" data-label="Кімнати:">{{ item.roomNumber}}</td>
      <td class="detail-cell" data-label="Заселення:">{{ item.checkInDate }}</td>
      <td class="detail-cell" data-label="Виселення:">{{ item.checkOutDate }} </td>

      <td class="action-cell">
        <button (click)="toggleDetails(item)" class="details-btn">
          {{ item.expanded ? 'Приховати' : 'Деталі' }}
        </button>
        <button *ngIf="authService.hasRole('Commandant')" (click)="deleteRegistration(item.registrationId)" class="delete-btn">Видалити</button>
      </td>
    </tr>
    </tbody>
  </table>

<div class="pagination-container">
  <div class="pagination-info">
    Всього елементів: {{totalItems}}
  </div>
  <div class="pagination-controls">
    <button
      (click)="previousPage()"
      [disabled]="currentPage === 1"
      class="pagination-btn">
      Попередня
    </button>
    <span>Сторінка {{currentPage}} з {{totalPages}}</span>
    <button
      (click)="nextPage()"
      [disabled]="currentPage === totalPages || totalPages === 0"
      class="pagination-btn">
      Наступна
    </button>
    <!-- Кнопка додавання елементу -->
    <button  *ngIf="authService.hasRole('Commandant')"
             (click)="addRegistration()"
             class="add-item-btn">
      Додати реєстрацію
    </button>
  </div>
</div>
</div>
